.App {
  text-align: center;
}

.App-header {
  background-color: #cda22a;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.task {
  border-radius: 8px;
  margin: 10px;
  padding: 12px;
}

.black {
  background-color: #424242;
}

.tan {
  background-color: rgb(204, 160, 59);
}